---
import Layout from "../layouts/Layout.astro";
import { RiArrowRightUpLine } from "react-icons/ri";
import { Icon } from "astro-icon/components";
import socialsData from "../constants/socials.json";

const socials = socialsData;
---

<Layout title="Raghav Ruia • 404">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">404</h1>
	<h2 class="text-base font-medium tracking-tight text-title">
		Looks like you're lost. <a
			href="/"
			class="text-primary underline underline-offset-4">Go back home?</a
		>
	</h2>

	<Icon name="404" width="100%" height="100%" />

	<div class="text-sm font-normal text-body">
		<p class="text-base font-medium tracking-tight text-title">
			In the mean time, you can check out my socials from the links below.
		</p>
		<!-- Social icons section -->
		<div class="flex items-center gap-4 text-body mt-10 sm:mt-5">
			<!-- Resume -->
			<a
				href="/docs/Raghav_Ruia_Resume.pdf"
				target="_blank"
				rel="noopener noreferrer"
				class="flex items-center text-sm font-medium md:hover:text-primary transition-colors duration-200">
				<Icon name="tabler:file-text" size={16} class="mr-1" />
				<span>Resume</span>
			</a>

			<!-- LinkedIn -->
			<a
				href="https://linkedin.com/in/raghav-ruia"
				target="_blank"
				rel="noopener noreferrer"
				class="flex items-center text-sm font-medium md:hover:text-primary transition-colors duration-200">
				<Icon name="tabler:brand-linkedin" size={18} class="mr-1" />
				<span>Linkedin</span>
			</a>

			<!-- Mail -->
			<a
				href="mailto:raghavruia.work@gmail.com"
				class="flex items-center text-sm font-medium md:hover:text-primary transition-colors duration-200">
				<Icon name="tabler:mail" size={18}  class="mr-1"/>
				<span>Email</span>
			</a>
		</div>
	</div>
		<!-- <div
			class="grid w-fit grid-cols-3 gap-2 pt-4 tracking-tight md:flex md:flex-row md:items-start">
			{
				socials.map((social) => (
					<a
						href={social.url}
						target={social.target}
						rel={social.target === "_blank" ? "noopener noreferrer" : undefined}
						class="group flex items-center underline-offset-4 transition duration-150 ease-in-out md:hover:text-primary md:hover:underline">
						<Icon name={social.icon} size={14} class="mr-1.5" />
						<span class="text-sm">{social.name}</span>
						<RiArrowRightUpLine className="opacity-0 transition-opacity duration-150 md:group-hover:opacity-100" />
					</a>
				))
			}
		</div> -->
	</div>
</Layout>
