---
import Layout from "../layouts/Layout.astro";
import { BsStars } from "react-icons/bs";
import RaghavAI from "../components/react/RaghavAI.tsx";
---

<Layout title="Raghav Ruia • AI">
	<div class="flex items-center justify-between">
		<h1 class="text-primary font-serif text-[2.5rem] tracking-tight">raghav://ai</h1>
		<div class="rounded-full bg-emerald-100 px-2.5 py-1.5 text-xs font-medium text-emerald-700">
			<BsStars className="-mt-0.5 inline-block text-emerald-700" />
			<span>just for fun!</span>
		</div>
	</div>

	<h2 class="text-title text-base font-medium tracking-tight">have a chat with my AI to know more about me!</h2>
	<section class="pt-4">
		<RaghavAI client:load />
	</section>
</Layout>
