---
import { MdOutlineKeyboardBackspace } from "react-icons/md";
---

<nav class="flex items-center justify-between pb-8 tracking-tight">
	<div>
		<a
			href="/blogs"
			target="_self"
			class="hover:text-primary underline-offset-4 transition duration-150 ease-in-out hover:underline">
			<MdOutlineKeyboardBackspace className="-mt-0.5 inline-block" />
			<span>blogs</span>
		</a>
	</div>
	<div class="flex items-center gap-4">
		<a
			href="/"
			target="_self"
			class="hover:text-primary underline-offset-4 transition duration-150 ease-in-out hover:underline">
			home
		</a>
		<a
			href="/ai"
			target="_self"
			class="hover:text-primary underline-offset-4 transition duration-150 ease-in-out hover:underline">
			raghav://ai
		</a>
	</div>
</nav>
