---
import Nowtime from "./react/NowTime.tsx";
import { MdOutlineTipsAndUpdates } from "react-icons/md";
---

<footer class="pt-8">
	<hr class="bg-title h-px border-0" />
	<div class="flex items-center justify-between">
		<div class="mx-1 flex gap-1 pt-4 md:mx-3">
			<div class="flex items-center gap-1">
				<MdOutlineTipsAndUpdates className="text-title" size={16} />
				<div class="flex flex-col items-start text-xs text-body space-y-1">
  					<div class="flex items-center space-x-2">
    					<span>credits:</span>
						<a href="https://github.com/lakshaybhushan/lakshb.dev" target="_blank" rel="noopener noreferrer" class="underline hover:text-gray-600">
						design
						</a>
						<a href="https://github.com/raghavruia-dev/initial-portfolio/pulls?q=is%3Apr+is%3Aclosed" target="_blank" rel="noopener noreferrer" class="underline hover:text-gray-600">
						fix
						</a>
  					</div>
				</div>
			</div>
		</div>
		<div class="mx-1 flex items-center justify-between pt-4 md:mx-3">
			<Nowtime client:load />
		</div>
	</div>
</footer>
